<!DOCTYPE html>
<html>
<head>
	<title>Predict-O-Matic</title>
</head>
<body>
	<form action="/submit">
		<p>
			<label for="time">time in hospital</label><br>
			<input type="number" name="time">
		</p>
		<p>
			<label for="lab">number of lab procedures</label><br>
			<input type="number" name="lab">
		</p>		
		<p>
			<label for="procedures">number of procedures</label><br>
			<input type="number" name="procedures">
		</p>
		<p>
			<label for="outpatient">number of outpatient visits</label><br>
			<input type="number" name="outpatient">
		</p>
		<p>
			<label for="emergency">number of emergency visits</label><br>
			<input type="number" name="emergency">
		</p>
		<p>
			<label for="inpatient">number of inpatient visits</label><br>
			<input type="number" name="inpatient">
		</p><p>
			<label for="diag">number of diagnoses</label><br>
			<input type="number" name="diag">
		</p><p>
			<label for="med">number of medications</label><br>
			<input type="number" name="med">
		</p><p>
			<label for="diabetesmed ">diabetes medications</label><br>
			<input type="number" name="diabetesmed">
		</p>
		<p><button type="submit">Submit</button></p>
	</form>
</body>
</html>